<!DOCTYPE html>
<html>
  <head>

    <!--Styles-->
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">

    <!--Scripts-->
    <script src="js/vendor/angular.min.js"></script>

  </head>
  <body ng-app="SuggestionBoxApp">

    <div class="main" ng-controller="MainController">
      <div class="container">
        <div class="row" ng-repeat="suggestion in suggestions">
          <h2>{{ suggestion.title }}</h2>
          <p>{{ suggestion.upvotes }} upvotes.</p>
          <div class="container">
            <div class="row" ng-repeat="comment in suggestion.comments">
              <p>{{ comment }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>


    <!--Modules-->
    <script src="js/app.js"></script>

    <!--Controllers-->
    <script src="js/controllers/MainController.js"></script>

    <!--Services-->
    <script src="js/services/suggestions.js"></script>

  </body>
</html>