<div class="container">
  <div class="row" ng-repeat="suggestion in suggestions | orderBy:'-upvotes'">
    
    <div class="col-md-12">
      <h2>{{ suggestion.title }}</h2>
    </div>
    <div class="col-md-3">
      <span class="glyphicon glyphicon-plus-sign" ng-click="upvote(suggestion)"></span> {{ suggestion.upvotes }} upvotes.
    </div>
    <div class="col-md-3">
      <a href="#!/suggestion/{{$index}}">View</a>
    </div>
    <div class="col-md-6"></div>
  </div>

  <form ng-submit="addSuggestion()" style="margin-top: 50px">
    <h3> Submit Your Suggestion </h3>
    <div class="form-group">
    <input type="text" class="form-control" placeholder="Great ideas here" ng-model="title"></input>
    </div>
    <button type="submit" class="btn btn-primary">Suggest</button>
  </form>    
</div>